@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #f1f1f1;
    color: #1f1f1f;
}

.card{
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}

.card:hover {
    transform: perspective(1000px) rotateX(-5deg) rotateY(5deg) scale(1.05);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}